/* .store{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.store button{
  height: 50px;
  width: 50px;
}
.store div{
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,body,#root{
  height: 100%;
}
.page{
  display: flex;
  justify-content: center;
  align-items: center;
   background-color: aqua;
   width: 50px;
}
.page div{
  width:  50px;
  align-content: center;
} */
